{% load staticfiles %}
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Unicorn Attractor</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'font-awesome/css/brands.css' %}">
	<link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="top-div-home">
		<div class="col-md-6">
        <img src='{% static "images/unicorn-logo.png" %}' class="home-unicorn" alt="unicorn logo">
		</div>
		<div class="col-md-6 title-div">
        {% if user.is_authenticated %}
        <div class="row">
				<p class="welcome-name">Hi {{ user.username }}, welcome to</p>
			</div>
            {% endif %}
			<div class="row">
				<h1 class="landing-title">Unicorn Attractor</h1>
			</div>
			<div class="row">
				<h3 class="landing-title">Free Software</h3>
			</div>
            <div class="row landing-btn-div">
            <button class="landing-btn"><a href="{% url 'find_out_more' %}">Enter</a></button>
            {% if user.is_authenticated %}
            <button class="landing-btn"><a href="{% url 'sign_out' %}">Logout</a></button>
            {% else %}
            <button class="landing-btn"><a href="{% url 'sign_up' %}">Sign Up / Sign In</a></button>
            {% endif %}
            </div>
		</div>


	</div>
	<div class="bottom-div-home"></div>

</body>
<footer>
	<nav class="navbar navbar-fixed-bottom social-nav">
		<a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a>
		<a class="social-link" href="#"><i class="fab fa-twitter"></i></a>
		<a class="social-link" href="#"><i class="fab fa-instagram"></i></a>
	</nav>
</footer>

</html>