{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_filters %}
{% load bootstrap_tags %}
{% block page_title %}About{% endblock %}
{% block page_heading %}About{% endblock %}
{% block content %}
<div class="container">
	<div class="align-text-center purple-text">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="purple-text">Unicorn Attractor</h1>
			</div>
			<div class="row">
				<h3 class="purple-text">Free Software</h3>
			</div>
			<div>
				<p>Unicorn Attractor is free software available to download. It simplifies your search for the perfect
					employee, using advanced search and analytics to find your unicorn!</p>
				<div class="display-inline-block">
					<p> Key Features:</p>
					<ul class="align-text-left no-list-style">
						<li><i class="fas fa-check"></i> Free and easy download and set up</li>
						<li><i class="fas fa-check"></i> Free bug fixes</li>
						<li><i class="fas fa-check"></i> Subscribe to request new features</li>
					</ul>
				</div>

				<p>Sign up to a free account to report issues, comment on existing issues and upvote issues to get them
					fixed, faster.</p>
				<p>Subscribe to a £25.00 per month plan to request new features and upvote existing feature requests to
					get
					them fixed faster.</p>
			</div>
		</div>
		<div class="row more-btn-div margin-bottom">
			<div class="col-md-3 col-md-offset-3">
				<form action="{% url 'contact_us' %}">
					<input class="sign-up-btn" type="submit" value="Contact Us"/>
		        </form>
			</div>
			<div class="col-md-3">
				{% if request.user|in_group:"Subscribers" %}
				<a href="{% url 'profile' %}" class="btn landing-btn" role="button">Manage Subscription</a>
				{% elif user.is_authenticated %}
				<a href="{% url 'subscribe' %}" class="btn landing-btn" role="button">+ Subscribe</a>
				{% else %}
				<a href="{% url 'sign_up' %}" class="btn landing-btn" role="button">Sign Up</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}