{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Password Reset{% endblock %}
{% block page_heading %}Password Reset{% endblock %}
{% block content %}
<div class="container">
<h3 class="password-reset-done white-text">Reset your password</h3>
<form method="post" class="password-reset-form">
	<p>Please fill in your email to receive password reset instructions.</p>
	<br>
    {% csrf_token %}
    {{ form.email.errors }}
	<div class="row">
		<div class="col-md-7">
			<p>
				<label for="id_email" class="required-field">E-mail address:</label>
				{{ form.email }}
			</p>
		</div>
		<div class="col-md-5">
			<button type="submit" class="btn green-btn reset-btn">Reset Password</button>
		</div>
	</div>
</form>
</div>

{% endblock %}