{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_filters %}
{% load bootstrap_tags %}
{% block page_title %}Feature Overview{% endblock %}
{% block page_heading %}Feature Overview{% endblock %}
{% block content %}

<div class="container">
	<div class="row issue-header-div">
		<div class="col-md-6 report-issue-header">
			<h1>Request a new Feature:</h1>
			<p>We spend 50% of our time working on the most popular requests.</p>
			<p>To request, upvote or comment on a feature you must be subscribed.</p>
		</div>
		<div class="col-md-6">
			<div class="row">
				{% if request.user|in_group:"Subscribers" %}
				<a href="{% url 'request_feature' %}" class="btn sign-up-btn report-issue-btn" role="button">+ Request a
					Feature</a>
				{% elif user.is_authenticated %}
				<a href="{% url 'subscribe' %}" class="btn landing-btn margin-bottom report-issue-btn" role="button">+
					Subscribe</a>
				{% else %}
				{% endif %}
			</div>
			{% if request.user|in_group:"Subscribers" %}
			<div class="row hidden-md hidden-lg hidden-xl margin-bottom">
				<a href="{% url 'my_issues' %}"
					class="link-underline {% if request.path == '/issues/my_issues/'%}toggled{% endif %}"
					id="my_issues">My Issues</a>
				<a href="{% url 'issues' %}" class="link-underline {% if request.path == '/issues/'%}toggled{% endif %}"
					id="all_issues">All Issues</a>
			</div>
			<div class="row hidden-sm hidden-xs">
				<a href="{% url 'my_features' %}"
					class="link-underline float-right {% if request.path == '/features/my_features/'%}toggled{% endif %}"
					id="my_features">My Features</a>
				<a href="{% url 'features' %}"
					class="link-underline float-right {% if request.path == '/features/'%}toggled{% endif %}"
					id="all_features">All Features</a>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row hidden-xs hidden-sm">
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">Requested</h3>

				{% for feature in features|dictsortreversed:"votes" %}
				{% if feature.state == 'REQUESTED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3><a class="grey-link"
								href="{% url 'full_feature' feature_id=feature.id%}">{{ feature.title }}</a></h3>
						<p>{{ feature.description }}</p>
						<p>Priority: {{ feature.priority }}</p>
						<p>Votes: {{ feature.votes }}</p>
						{% if request.user|in_group:"Subscribers" %}
						{% if user in feature.voters.all %}
						<p class="italic-text">You have already voted on this feature</p>
						{% else %}
						<p><a class="grey-link" href="upvote/{{ feature.id }}">Upvote
								<i class="fa fa-arrow-up"></i></a>
						</p>
						{% endif %}
						<div>
							<a class="grey-link" onClick="toggleComment(this)">Comments
								<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</br>
							<a class="grey-link" href="{% url 'add_feature_comment' feature_id=feature.id %}">Add
								Comment
								<i class="fa fa-plus" aria-hidden="true"></i></a>
						</div>
						<div class="comment-block">
							<div class="comments">
								{% for comment in feature.comments.all %}
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
								{% empty %}
								<div>
									<p class="italic-text">No comments yet</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}

			</div>
		</div>
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">In Progress</h3>
				{% for feature in features|dictsortreversed:"votes"  %}
				{% if feature.state == 'IN PROGRESS' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3><a class="grey-link"
								href="{% url 'full_feature' feature_id=feature.id%}">{{ feature.title }}</a></h3>
						<h3 class="grey-link" href="{% url 'full_feature' feature_id=feature.id%}">{{ feature.title }}
						</h3>
						<p>{{ feature.description }}</p>
						<p>Priority: {{ feature.priority }}</p>
						<p>Votes: {{ feature.votes }}</p>
						{% if request.user|in_group:"Subscribers" %}
						{% if user in feature.voters.all %}
						<p class="italic-text">You have already voted on this feature</p>
						{% else %}
						<p><a class="grey-link" href="upvote/{{ feature.id }}">Upvote
								<i class="fa fa-arrow-up"></i></a>
						</p>
						{% endif %}
						<div>
							<a class="grey-link" onClick="toggleComment(this)">Comments
								<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</br>
							<a class="grey-link" href="{% url 'add_feature_comment' feature_id=feature.id%}">Add
								Comment
								<i class="fa fa-plus" aria-hidden="true"></i></a>
						</div>
						<div class="comment-block">
							<div class="comments">
								{% for comment in feature.comments.all %}
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
								{% empty %}
								<div>
									<p class="italic-text">No comments yet</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">Completed</h3>
				{% for feature in features|dictsortreversed:"votes"  %}
				{% if feature.state == 'COMPLETED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3><a class="grey-link"
								href="{% url 'full_feature' feature_id=feature.id%}">{{ feature.title }}</a></h3>
						<p class="">{{ feature.description }}</p>
						<p>Priority: {{ feature.priority }}</p>
						<p>Votes: {{ feature.votes }}</p>
						{% if request.user|in_group:"Subscribers" %}
						{% if user in feature.voters.all %}
						<p class="italic-text">You have already voted on this feature</p>
						{% else %}
						<p><a class="grey-link" href="upvote/{{ feature.id }}">Upvote
								<i class="fa fa-arrow-up"></i></a>
						</p>
						{% endif %}
						<div>
							<a class="grey-link" onClick="toggleComment(this)">Comments
								<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</br>
							<a class="grey-link" href="{% url 'add_feature_comment' feature_id=feature.id%}">Add
								Comment
								<i class="fa fa-plus" aria-hidden="true"></i></a>
						</div>
						<div class="comment-block">
							<div class="comments">
								{% for comment in feature.comments.all %}
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
								{% empty %}
								<div>
									<p class="italic-text">No comments yet</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>


	<!-- Mobile view of features board -->
	<div id="accordion" class="hidden-md hidden-lg hidden-xl">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Reported
        <i class="fa fa-caret-down"></i>
    </button>
				</h5>
			</div>

			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div class="col-md-4 swim-lane">
						<div class="lane-title-div">
							<h3 class="lane-title">Reported</h3>
							{% for feature in features %}
							{% if feature.state == 'REQUESTED' %}
							<div class="col-xs-12 display panel panel-default">
								<div class="panel-body">
									<h3><a class="grey-link"
											href="{% url 'full_feature' feature_id=feature.id%}">{{ feature.title }}</a>
									</h3>
									<p class="">{{ feature.description }}</p>
									<p>Priority: {{ feature.priority }}</p>
									<p>Votes: {{ feature.votes }}</p>
									{% if user.is_authenticated %}
									{% if request.user|in_group:"Subscribers" %}
									{% if user in feature.voters.all %}
									<p class="italic-text">You have already voted on this feature</p>
									{% else %}
									<p><a class="grey-link" href="upvote/{{ feature.id }}">Upvote
											<i class="fa fa-arrow-up"></i></a></p>
									{% endif %}
									<div>
										<a class="grey-link" onClick="toggleComment(this)">Comments
											<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
										</br>
										<a class="grey-link"
											href="{% url 'add_feature_comment' feature_id=feature.id%}">Add
											Comment
											<i class="fa fa-plus" aria-hidden="true"></i></a>
									</div>
									<div class="comment-block">
										<div class="comments">
											{% for comment in feature.comments.all %}
											<div class="comment-bold">{{ comment.created }}</div>
											<p class="comment-bold"> User: {{ comment.commenter }}</p>
											<p> Comment: {{ comment.comment }}</p>
											<hr />
											{% empty %}
											<div>
												<p class="italic-text">No comments yet</p>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        In Progress
        <i class="fa fa-caret-down"></i>
    </button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						<div class="col-md-4 swim-lane">
							<div class="lane-title-div">
								<h3 class="lane-title">In Progress</h3>
								{% for feature in features|dictsortreversed:"votes"  %}
								{% if feature.state == 'IN PROGRESS' %}
								<div class="col-xs-12 display panel panel-default">
									<div class="panel-body">
										<h3><a class="grey-link"
												href="{% url 'full_feature' feature_id=feature.id%}">{{ feature.title }}</a>
										</h3>
										<p class="">{{ feature.description }}</p>
										<p>Priority: {{ feature.priority }}</p>
										<p>Votes: {{ feature.votes }}</p>
										{% if user.is_authenticated %}
										{% if request.user|in_group:"Subscribers" %}
										{% if user in feature.voters.all %}
										<p class="italic-text">You have already voted on this feature</p>
										{% else %}
										<p><a class="grey-link" href="upvote/{{ feature.id }}">Upvote
												<i class="fa fa-arrow-up"></i></a></p>
										{% endif %}
										<div>
											<a class="grey-link" onClick="toggleComment(this)">Comments
												<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
											</br>
											<a class="grey-link"
												href="{% url 'add_feature_comment' feature_id=feature.id%}">Add
												Comment
												<i class="fa fa-plus" aria-hidden="true"></i></a>
										</div>
										<div class="comment-block">
											<div class="comments">
												{% for comment in feature.comments.all %}
												<div class="comment-bold">{{ comment.created }}</div>
												<p class="comment-bold"> User: {{ comment.commenter }}</p>
												<p> Comment: {{ comment.comment }}</p>
												<hr />
												{% empty %}
												<div>
													<p class="italic-text">No comments yet</p>
												</div>
												{% endfor %}
											</div>
										</div>
										{% endif %}
									</div>
								</div>
								{% endif %}
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Completed
        <i class="fa fa-caret-down"></i>
    </button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">
						<div class="col-md-4 swim-lane">
							<div class="lane-title-div">
								<h3 class="lane-title">Completed</h3>
								{% for feature in features|dictsortreversed:"votes"  %}
								{% if feature.state == 'COMPLETED' %}
								<div class="col-xs-12 display panel panel-default">
									<div class="panel-body">
										<h3><a class="grey-link"
												href="{% url 'full_feature' feature_id=feature.id%}">{{ feature.title }}</a>
										</h3>
										<p class="">{{ feature.description }}</p>
										<p>Priority: {{ feature.priority }}</p>
										<p>Votes: {{ feature.votes }}</p>
										{% if user.is_authenticated %}
										{% if request.user|in_group:"Subscribers" %}
										{% if user in feature.voters.all %}
										<p class="italic-text">You have already voted on this feature</p>
										{% else %}
										<p><a class="grey-link" href="upvote/{{ feature.id }}">Upvote
												<i class="fa fa-arrow-up"></i></a></p>
										{% endif %}
										<div>
											<a class="grey-link" onClick="toggleComment(this)">Comments
												<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
											</br>
											<a class="grey-link"
												href="{% url 'add_feature_comment' feature_id=feature.id%}">Add
												Comment
												<i class="fa fa-plus" aria-hidden="true"></i></a>
										</div>
										<div class="comment-block">
											<div class="comments">
												{% for comment in feature.comments.all %}
												<div class="comment-bold">{{ comment.created }}</div>
												<p class="comment-bold"> User: {{ comment.commenter }}</p>
												<p> Comment: {{ comment.comment }}</p>
												<hr />
												{% empty %}
												<div>
													<p class="italic-text">No comments yet</p>
												</div>
												{% endfor %}
											</div>
										</div>
										{% endif %}
									</div>
								</div>
								{% endif %}
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}