{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_filters %}
{% load bootstrap_tags %}
{% block page_title %}Feature Overview{% endblock %}
{% block page_heading %}Feature Overview{% endblock %}
{% block content %}

<div class="container">
	<div class="row issue-header-div">
		<div class="col-md-6 report-issue-header">
			<h1>Request a new Feature:</h1>
			<p>We spend 50% of our time working on the most popular requests.</p>
			<p>To request, upvote or comment on a feature you must be subscribed.</p>
		</div>
		<div class="col-md-6">
			{% if request.user|in_group:"Subscribers" %}
			<a href="{% url 'request_feature' %}" class="btn sign-up-btn report-issue-btn" role="button">+ Request a
				Feature</a>
			{% elif user.is_authenticated %}
			<a href="{% url 'subscribe' %}" class="btn landing-btn report-issue-btn" role="button">+ Subscribe</a>
            {% else %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">Requested</h3>

				{% for feature in features|dictsortreversed:"votes" %}
				{% if feature.state == 'REQUESTED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3>{{ feature.title }}</h3>
						<p class="">{{ feature.description }}</p>
						<p>Priority: {{ feature.priority }}</p>
						<p>Votes: {{ feature.votes }}</p>


                        {% if request.user|in_group:"Subscribers" %}
						<p><a class="upvote-link" href="upvote/{{ feature.id }}">Upvote</a></p>
						<div>
							<a class="comment-link" onClick="toggleComment(this)">Comments
								<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</br>
							<a class="comment-link" href="{% url 'add_feature_comment' feature_id=feature.id%}">Add Comment
								<i class="fa fa-plus" aria-hidden="true"></i></a>
						</div>
						<div class="comment-block">
							<div class="comments">
								{% for comment in feature.comments.all %}
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
								{% empty %}
								<div>
									<p class="sub-text">No comments yet</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}



					</div>
				</div>
				{% endif %}
				{% endfor %}

			</div>
		</div>
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">In Progress</h3>
				{% for feature in features|dictsortreversed:"votes"  %}
				{% if feature.state == 'IN PROGRESS' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3>{{ feature.title }}</h3>
						<p class="">{{ feature.description }}</p>
						<p>Priority: {{ feature.priority }}</p>
						<p>Votes: {{ feature.votes }}</p>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">Completed</h3>
				{% for feature in features|dictsortreversed:"votes"  %}
				{% if feature.state == 'COMPLETED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3>{{ feature.title }}</h3>
						<p class="">{{ feature.description }}</p>
						<p>Priority: {{ feature.priority }}</p>
						<p>Votes: {{ feature.votes }}</p>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>





{% endblock %}