body{
    background-color: #330066;
    padding-top: 50px;
}

a {
    color: #ffffff;
}

a:hover{
    color: #ffffff;
}
/* Landing page styling */
.top-div-home{
    background-color: #ffffff;
    height:55vh;
    width:100vw;
    padding-top: 50px;
    margin-top: -50px;
}

.bottom-div-home{
    background-color: #330066;
    height:45vh;
    width:100vw;
}

.landing-nav{
    background-color: #ffffff;
    box-shadow: none;
}

.landing-title{
    color: #330066;
    margin: 0px;
    text-align:center;
}
h1.landing-title{
    font-size: 72px;
}

.title-div{
    height:100%;
    margin-top: 100px;
}

.home-unicorn{
    height: 100vh;
    margin-top: -50px;
    margin-left: -50px;
}

.landing-btn{
    width:150px;
    border: none;
    height:40px;
    color: #ffffff;
    border-radius: 26px;
    background-color:#990066;
}

.landing-btn-div{
    margin-top: 30px;
    text-align: center;
}
/* Navbar styling*/
.navbar{
    border-bottom: none;
    border-radius: 0;
    background-image: none;
    margin-bottom:0px;
}
.unicorn-nav{
    background-color:#ffffff;
    background-image: none;
}

.brand-logo {
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-left: -7px;
}

.navbar-brand>img {
    display:inline-block;
}

.navbar-brand:hover{
    color: #330066;
}

.navbar-brand, .nav-item{
    color: #330066;
    text-shadow: none;
}

.nav-item{
    margin-right: 15px;
    margin-top:15px;
}

.nav-item>a:hover{
    color: #330066;
    text-decoration: underline;
}

.nav-list{
    list-style: none;
    display: inline-flex;
    float: right;
}

.social-link{
    color:#ffffff;
    float: right;
    margin-right:25px;
    font-size: 20px;
}

.social-nav{
    background-color: #330066;
}

/* form styling */

.accountform{
    width: 80%;
    color:#ffffff;
    margin-left:auto;
    margin-right:auto;
}

#id_description{
    max-height: 170px;
}

.password-reset-form{
    width: 100%;
    color:#ffffff;
    margin-left:25px;
    margin-top: 50px;
}

#id_email{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}

/* sign-up-pages */
.sign-up-unicorn{
    height:100%;
    width:100%;
}

.form-div{
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sign-up-btn{
    width:150px;
    border: none;
    height:40px;
    color: #ffffff;
    border-radius: 26px;
    background-color:#00CC00;
    margin-bottom: 50px;
}

.sign-in-link{
    text-decoration: underline;
}

.forgot-password{
    margin-top:10px;
    text-decoration: underline;
}

.accountform>h3 {
    color: #ffffff;
}

/* Find out more page styling */
.more-content, .more-content>h1, .more-content>h3, .more-content>p{
    color: #ffffff;
    margin-left: 25px;
}

.more-btn{
    margin-right: 20px;
}

.more-btn-div{
    align-content: left;
    margin-left: 50px;
    margin-top: 50px;
}

/* issues board */
.swim-lane{
    background-color: #ffffff;
    height: 65vh;
    border: solid 2px #330066;
    overflow-y:scroll;
}

.lane-title{
    color:#330066;
}

.report-issue-btn{
    margin-top: 30px;
    float: right;
}

.report-issue-header, .report-issue-header>h1{
    color: #ffffff;
    padding-left: 0px;
}

.upvote-link, .comment-link{
    color: #555555;
}

.upvote-link:hover, .comment-link:hover{
    color: #555555;
    text-decoration: underline;
}


/* Report an Issue Form styling */
.issue-form{
    color: #ffffff;
    width: 80%;
    margin-left: 25px;
}

.issue-form>h1{
    color: #ffffff;
}

/* Full Issue form */
.full-issue{
    margin-top: 20px;
    background-color: #ffffff;
}

.comment-full{
    background-color: #cccccc;
}
/* Comments styling */

.comment-block{
    display: none;
    max-height:200px;
    margin-bottom:10px;
    margin-top:10px;
    overflow-y:scroll;
}

.comments{
    padding-left: 10px;
    padding-right:10px;
    border: 1px solid #cccccc;
}

.comment-bold{
    font-weight: bold;
}

.sub-text{
    font-style:italic;
}

/* password reset styling */

.password-reset-done{
    color: #ffffff;
    margin-left:25px;
}

.reset-btn{
    width:150px;
    border: none;
    height:40px;
    color: #ffffff;
    border-radius: 26px;
    background-color:#00CC00;
    margin-top:22px;
}

/* No access message */

.no-access-message{
    font-size: 14px;
    margin-top: 20px;
    color: #ffffff;
}

/* welcome page */
.welcome-name{
    color: #330066;
    font-size: 26px;
    text-align:center;
    margin-top: -20px;
}