body {
	background-color: #f9f9f9;
	padding-top: 50px;
    padding-bottom: 50px;
}

.panel-body {
    padding: 0 15px 15px 15px;
}


/* Utility classes - used frequently */

a,
.white-text,
a:hover {
	color: #ffffff;
}

.grey-link,
.grey-link:focus {
	color: #555555;
}

.grey-link:hover {
	color: #555555;
	text-decoration: underline;
}

.link-underline {
	text-decoration: underline;
}

.margin-left {
	margin-left: 25px;
}

.margin-right {
    margin-right: 25px;
}

.margin-right-none {
    margin-right:0;
}

.margin-left-right {
    margin-left: 20px;
    margin-right:20px;
}

.margin-bottom {
	margin-bottom: 50px;
}

.margin-top-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

.italic-text {
	font-style: italic;
}

.float-right {
	float: right;
	margin-left: 10px;
	margin-right: 2px;
}

.margin-top {
	margin-top: 25px;
}

.no-col-padding {
    padding: 0;
}

.purple-text,
.purple-text:hover {
	color: #330066;
}

.align-text-center {
	text-align: center;
}

.align-text-left {
	text-align: left;
}

.display-inline-block {
	display: inline-block;
}

.no-list-style {
	list-style: none;
}

.issue-colour {
    color: #CC0099;
    font-weight:600;
}

.feature-colour {
    color: #008500;
    font-weight:600;
}

/* Buttons */
.btn,
.btn:hover,
.btn:focus {
    border: none;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 5px;
    min-width: 150px;
}

.btn.btn-sm {
    min-width: 60px;
}

.btn-sm:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
}

.pink-btn {
	background-color: #CC0099;
}

.pink-btn:hover {
    background-color: #a3007a;
}

.green-btn {
	background-color: #008500;
}

.green-btn:hover {
    background-color: #006a00;
}

.red-btn {
    color: #cc0000; 
    border: 2px solid #cc0000;
    background-color: #f9f9f9;
    font-weight: 600;
}

.red-btn:hover {
    color: #990000; 
    border: 2px solid #990000;
}

.grey-btn {
    background-color: #f9f9f9;
    border: 2px solid #555;
    color: #555;
    font-weight: 600;
}

.grey-btn:hover {
    border: 2px solid #555;
    color: #555; 
}

.ticket-form-btn {
	margin-top: 30px;
    margin-left: 15px;
	float: right;
}

.more-btn {
	margin-right: 20px;
}

.more-btn-div {
	margin-top: 50px;
}

.reset-btn {
	margin-top: 22px;
}

.hover-purple:hover {
    color: #330066;
}

/* Landing page styling */

.top-div-home {
	background-color: #f9f9f9;
}

.landing-title {
	color: #330066;
	margin: 0px;
	text-align: center;
}

h1.landing-title {
	font-size: 72px;
}

.title-div {
	margin-top: 10%;
}

/* Navbar styling*/

.navbar {
	border-bottom: none;
	border-radius: 0;
	background-image: none;
	margin-bottom: 0px;
}

.unicorn-nav {
	background-color: #330066;
	background-image: none;
}

.brand-logo {
	width: 50px;
	height: 50px;
	margin-top: -15px;
	margin-left: -7px;
}

.navbar-brand>img {
	display: inline-block;
}

.navbar-brand:hover {
	color: #ffffff;
}

.navbar-brand,
.nav-item,
.nav-item:focus {
	color: #ffffff;
	text-shadow: none;
}

.nav-item {
	margin-right: 15px;
	margin-top: 15px;
}

.nav-item>a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.nav-list {
	list-style: none;
	display: inline-flex;
	float: right;
}

.social-link,
.social-link:hover,
.social-link:visited {
	color: #330066;
	float: right;
	margin-right: 25px;
	font-size: 20px;
    padding-top: 10px;
}

.social-nav {
	background-color: #ccc;
	box-shadow: none;
}

.index-bottom-nav {
	background-color: #330066;
    height: 50px;
}

.index-social-links {
	color: #fff;
	float: right;
	margin-right: 25px;
	font-size: 20px;
    margin-top: 15px;;
}

.dropdown-menu {
	left: -100px;
	right: -1px;
	top: 47px;
	border-radius: 0px;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #330066;
	white-space: nowrap;
}

.navbar .dropdown-menu a {
	color: #330066;
}

.dropdown-menu>li>a:hover {
	color: #330066;
	text-decoration: underline;
	background-color: #ffffff;
}

.dropdown-toggle {
	background-color: #ffffff;
	color: #330066;
	margin: 5px 5px 0 0;
}

.dropdown-toggle:hover {
	text-decoration: underline;
	color: #330066;
	text-shadow: none;
}


/* form styling */

.accountform {
	width: 100%;
	color: #330066;
	padding: 10px 20px 0px 20px;
	margin-bottom: 60px;
	border-radius: 10px;
	background-color: #ffffff;
}

#id_description {
	max-height: 170px;
}

.password-reset-form {
	width: 100%;
	color: #ffffff;
	margin-top: 50px;
}

#id_email {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-bottom: 10px;
}


/* sign-up-pages */

.form-div {
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 50px;
}

.sign-in-link {
	text-decoration: underline;
}

.forgot-password {
	margin-top: 10px;
	text-decoration: underline;
}


/* tickets board */

.swim-lane {
	background-color: #330066;
	height: 65vh;
	border: solid 2px #330066;
    border-bottom: solid 20px #330066;
    border-top: solid 2px #330066;
	overflow-y: scroll;
    padding: 0 15px 0 15px; 
}

.swim-lane-mobile {
    overflow-y: scroll;
}

.swim-lane-header {
	background-color: #330066;
	border: solid 2px #330066;
    padding: 0 15px 0 15px; 
}

.report-issue-header,
.report-issue-header>h1,
.btn-link {
	color: #330066;
	padding-left: 0px;
}

.toggled {
	background-color: #ffffff;
	color: #330066;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #330066;
	border-radius: 4px;
}

.toggled:hover {
	color: #330066;
}


/* Report an Issue Form styling */

.issue-form {
	color: #ffffff;
	width: 100%;
}


/* Full Ticket Form */

.full-ticket-header{
	margin-top: 20px;
	background-color: #330066
}

.full-ticket-outer{
	background-color: #330066;
}

.full-ticket-inner{
	padding: 30px;
	background-color: #fff;
    margin-bottom:15px;
}

.issue-bottom-margin {
	margin-bottom: 30px;
}

.comment-full {
	background-color: #cccccc;
}


/* Comments styling */

.comment-block {
	display: none;
	max-height: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow-y: scroll;
}

.comments {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #cccccc;
}

.comment-bold {
	font-weight: bold;
}


/* No access message */

.no-access-message {
	font-size: 14px;
	margin-top: 20px;
	color: #ffffff;
}


/* welcome page */

.welcome-name {
	color: #330066;
	font-size: 26px;
	text-align: center;
	margin-top: -20px;
}


/* profile styling */

.profile {
	margin-top: 50px;
}

/* Search form styling */
#searchform {
    float: right;
    margin-right: -14px;
}

#searchformmobile {
    float: right;
}

#searchbox, 
#searchboxmobile {
    width: 250px;
    border-radius: 4px;
    border-style: none;
    border: 1px solid #ccc;
    border-right: hidden;
    margin-top: 5px;
}

#searchbox:focus,
#searchboxmobile:focus  {
    outline: none;
}

.searchbutton,
.searchbuttonmobile {
    margin-left: -10px;
    border: 1px solid #ccc;
    border-left: hidden;
    border-top-right-radius: 4px;
    height: 24px;
    border-bottom-right-radius: 4px;
}

/* confirm modal styling */

.modal-content {
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

#confirmText {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.modal-btn {
    margin-left: 90px;
    margin-top: 30px;
}

.overlay {
    display: none;
    height: 110%;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

/* Alert styling */
.alert {
    border-radius: 0;
}

.alert-success {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    padding-top: 15px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #cc0000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    padding-top: 15px; 
}



/* Media Queries */

@media(max-width: 992px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	.ticket-form-btn {
		float: left;
		margin-top: 0px;
	}
	.card-header {
		background: #cccccc;
		border-radius: 4px;
	}
	.btn-link {
		width: 100%;
	}
	.btn-link:focus {
		color: #330066;
		text-decoration: underline;
		background-color: transparent;
		outline: none;
	}

    .mobile-filters {
        margin-right: 0px;
    }
}