{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Request a Feature{% endblock %}
{% block page_heading %}Request a Feature{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class=" col-md-12">
			<div class="issue-form">
				<h1 class="purple-text">Request a Feature</h1>
				<p class="purple-text">Please fill in this form to request a new feature. Here at Unicorn attractor we
					pledge to spend 50% of our time working on the most popular new feature requests.</p>
				<form method="POST" enctype="multipart/form-data" class="purple-text">
					{% csrf_token %}
					{{ form | as_bootstrap }}
					<button type="submit" class="btn green-btn">Request</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}