{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_filters %}
{% load bootstrap_tags %}
{% block page_title %} Full Ticket {% endblock %}
{% block page_heading %} Full Ticket {% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 full-ticket-header">
			<h1 class="white-text issue-bottom-margin">{{ticket.category}}: {{ ticket.title }}</h1>
		</div>
		<div class="col-xs-12 full-ticket-outer">
			<div class="full-ticket-inner">
				{% if ticket.reported_by == request.user and ticket.state != 'COMPLETED' %}
                {% if ticket.category == 'ISSUE' %}
                <a href="{% url 'edit_ticket' ticket_id=ticket.id %}" class="btn-sm grey-btn" role="button">Edit</a>
				<a href="{% url 'delete_ticket' ticket_id=ticket.id %}" class="btn-sm red-btn" role="button">Delete</a>
                {% else %}
                {% if request.user|in_group:"Subscribers" and request.user|is_active:"Subscriber" %}
				<a href="{% url 'edit_ticket' ticket_id=ticket.id %}" class="btn-sm grey-btn" role="button">Edit</a>
				<a href="{% url 'delete_ticket' ticket_id=ticket.id %}" class="btn-sm red-btn" role="button">Delete</a>
                {% endif %}
                {% endif %}
                {% endif %}
				<p class="margin-top-bottom">Created on: {{ ticket.created_on }}</p>
				<p class="margin-top-bottom">Description: {{ ticket.description }}</p>
				<p class="margin-top-bottom">Priority: {{ ticket.priority }}</p>
				<p>Votes: {{ ticket.votes }}</p>
				{% if ticket.state == 'COMPLETED' %}
				<b>Resolution Notes:</b>
				<p>{{ ticket.resolution }}</p>
				{% else %}
				{% if ticket.category == 'FEATURE' %}
				{% if request.user|in_group:"Subscribers" %}
				{% if ticket.reported_by == request.user %}
				<p class="italic-text">You requested this feature</p>
				{% elif user in ticket.voters.all %}
				<p class="italic-text">You have already voted on this feature</p>
				{% else %}
				<p><a class="grey-link" href="{% url 'upvote' ticket_id=ticket.id %}">Upvote
						<i class="fa fa-arrow-up"></i></a>
				</p>
				{% endif %}
				{% else %}
				<p>You must <a class="link-underline purple-text" href="{% url 'subscribe' %}">subscribe</a> to vote or
					comment on feature tickets</p>
				{% endif %}
				{% else %}
				{% if user.is_authenticated %}
				{% if ticket.reported_by == request.user %}
				<p class="italic-text">You reported this issue</p>
				{% elif user in ticket.voters.all %}
				<p class="italic-text">You have already voted on this issue</p>
				{% else %}
				<p><a class="grey-link" href="{% url 'upvote' ticket_id=ticket.id %}">Upvote
						<i class="fa fa-arrow-up"></i></a>
				</p>
				{% endif %}
				{% endif %}
				{% endif %}
				{% endif %}
				{% if ticket.category == 'ISSUE' and user.is_authenticated or ticket.category == 'FEATURE' and user.is_authenticated and request.user|in_group:"Subscribers" %}
				<div>
					<a class="grey-link" onClick="toggleComment(this)">Comments
						<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
					</br>
					<a class="grey-link" href="{% url 'add_ticket_comment' ticket_id=ticket.id %}">Add
						Comment
						<i class="fa fa-plus" aria-hidden="true"></i></a>
				</div>
				<div class="comment-block">
					<div class="comments">
						{% for comment in ticket.comments.all %}
						<div class="comment-bold">{{ comment.created }}</div>
						<p class="comment-bold"> User: {{ comment.commenter }}</p>
						<p> Comment: {{ comment.comment }}</p>
						<hr />
						{% empty %}
						<div>
							<p class="italic-text">No comments yet</p>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>


	{% endblock %}