{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_filters %}
{% load bootstrap_tags %}
{% block page_title %}Ticket Overview{% endblock %}
{% block page_heading %}Ticket Overview{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 hidden-xs hidden-sm no-col-padding">
			<h1 class="purple-text">Tickets</h1>
			<p>Log, comment and upvote issues free of charge.</p>
			<p>For full access to the features module subscribe to our monthly plan.</p>
		</div>
		<div class="hidden-md hidden-lg hidden-xl col-md-6">
			<h1 class="purple-text">Tickets</h1>
			<p>Log, comment and upvote issues free of charge.</p>
			<p>For full access to the features module subscribe to our monthly plan.</p>
		</div>
		<div class="col-md-6">
			<div class="row">
				{% if request.user|in_group:"Subscribers" %}
				<a href="{% url 'request_feature' %}" class=" margin-right-none btn green-btn ticket-form-btn" role="button">+ Request a
					Feature</a>
				{% elif user.is_authenticated %}
				<a href="{% url 'subscribe' %}" class=" margin-right-none btn green-btn margin-bottom ticket-form-btn" role="button">+
					Subscribe</a>
				{% else %}
				{% endif %}
				<div class="row">
					{% if user.is_authenticated %}
					<a href="{% url 'report_issue' %}" class="btn pink-btn ticket-form-btn" role="button">+ Report
						an
						Issue</a>
					{% endif %}
				</div>
			</div>
			{% if user.is_authenticated %}
			<div class="hidden-md hidden-lg hidden-xl margin-bottom">
				<a href="{% url 'my_tickets' %}"
					class="purple-text float-right {% if request.path == '/tickets/my_tickets/'%}toggled{% endif %}"
					id="my_features">My Tickets</a>
				<a href="{% url 'feature_tickets' %}"
					class="purple-text float-right {% if request.path == '/tickets/feature_tickets/'%}toggled{% endif %}"
					id="feature_tickets">Features</a>
				<a href="{% url 'issue_tickets' %}"
					class="purple-text float-right {% if request.path == '/tickets/issue_tickets/'%}toggled{% endif %}"
					id="issue_tickets">Issues</a>
				<a href="{% url 'tickets' %}"
					class="purple-text float-right {% if request.path == '/tickets/'%}toggled{% endif %}"
					id="all_tickets">All Tickets</a>
			</div>
			<div class="row hidden-sm hidden-xs">
				<a href="{% url 'my_tickets' %}"
					class="purple-text margin-right float-right {% if request.path == '/tickets/my_tickets/'%}toggled{% endif %}"
					id="my_features">My Tickets</a>
				<a href="{% url 'feature_tickets' %}"
					class="purple-text float-right {% if request.path == '/tickets/feature_tickets/'%}toggled{% endif %}"
					id="feature_tickets">Features</a>
				<a href="{% url 'issue_tickets' %}"
					class="purple-text float-right {% if request.path == '/tickets/issue_tickets/'%}toggled{% endif %}"
					id="issue_tickets">Issues</a>
				<a href="{% url 'tickets' %}"
					class="purple-text float-right {% if request.path == '/tickets/'%}toggled{% endif %}"
					id="all_tickets">All Tickets</a>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row hidden-xs hidden-sm">
		<div class="col-md-4 no-col-padding">
			<div class="swim-lane-header">
				<h3 class="white-text">Reported / Requested</h3>
			</div>
			<div class="swim-lane">
				{% for ticket in tickets|dictsortreversed:"votes" %}
				{% if ticket.state == 'REQUESTED' or ticket.state == 'REPORTED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3><a class="grey-link"
								href="{% url 'full_ticket' ticket_id=ticket.id%}">{{ ticket.title }}</a></h3>
						{% if ticket.reported_by == request.user %}
						<a href="{% url 'edit_ticket' ticket_id=ticket.id %}" class="btn btn-sm grey-btn"
							role="button">Edit</a>
						<a href="{% url 'delete_ticket' ticket_id=ticket.id %}" class="btn btn-sm red-btn"
							role="button">Delete</a>
						{% endif %}
						<p>{{ ticket.description }}</p>
						{% if ticket.category == 'ISSUE' %}
						<p class="issue-colour">{{ ticket.category }}</p>
						{% elif ticket.category == 'FEATURE' %}
						<p class="feature-colour">{{ ticket.category }}</p>
						{% endif %}
						<p>Priority: {{ ticket.priority }}</p>
						<p>Votes: {{ ticket.votes }}</p>
						{% if ticket.category == 'FEATURE' %}
						{% if request.user|in_group:"Subscribers" %}
						{% if ticket.reported_by == request.user %}
						<p class="italic-text">You requested this feature</p>
						{% elif user in ticket.voters.all %}
						<p class="italic-text">You have already voted on this feature</p>
						{% else %}
						<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote
								<i class="fa fa-arrow-up"></i></a>
						</p>
						{% endif %}
						{% else %}
				        <p>You must <a class="link-underline purple-text" href="{% url 'subscribe' %}">subscribe</a> to vote or comment on feature tickets</p>
				        {% endif %}
						{% else %}
						{% if user.is_authenticated %}
						{% if ticket.reported_by == request.user %}
						<p class="italic-text">You reported this issue</p>
						{% elif user in ticket.voters.all %}
						<p class="italic-text">You have already voted on this issue</p>
						{% else %}
						<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote <i class="fa fa-arrow-up"></i></a>
						</p>
						{% endif %}
						{% endif %}
						{% endif %}
						{% if ticket.category == 'ISSUE' and user.is_authenticated or ticket.category == 'FEATURE' and user.is_authenticated and request.user|in_group:"Subscribers" %}
						<div>
							<a class="grey-link" onClick="toggleComment(this)">Comments
								<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</br>
							<a class="grey-link" href="{% url 'add_ticket_comment' ticket_id=ticket.id %}">Add
								Comment
								<i class="fa fa-plus" aria-hidden="true"></i></a>
						</div>
						<div class="comment-block">
							<div class="comments">
								{% for comment in ticket.comments.all %}
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
								{% empty %}
								<div>
									<p class="italic-text">No comments yet</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4 no-col-padding">
			<div class="swim-lane-header">
				<h3 class="white-text">In Progress</h3>
			</div>
			<div class="swim-lane">
				{% for ticket in tickets|dictsortreversed:"votes"  %}
				{% if ticket.state == 'IN PROGRESS' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3><a class="grey-link"
								href="{% url 'full_ticket' ticket_id=ticket.id%}">{{ ticket.title }}</a>
						</h3>
						{% if ticket.reported_by == request.user %}
						<a href="{% url 'edit_ticket' ticket_id=ticket.id %}" class="btn btn-sm grey-btn"
							role="button">Edit</a>
						<a href="{% url 'delete_ticket' ticket_id=ticket.id %}" class="btn btn-sm red-btn"
							role="button">Delete</a>
						{% endif %}
						<p>{{ ticket.description }}</p>
						{% if ticket.category == 'ISSUE' %}
						<p class="issue-colour">{{ ticket.category }}</p>
						{% elif ticket.category == 'FEATURE' %}
						<p class="feature-colour">{{ ticket.category }}</p>
						{% endif %}
						<p>Priority: {{ ticket.priority }}</p>
						<p>Votes: {{ ticket.votes }}</p>
						{% if ticket.category == 'FEATURE' %}
						{% if request.user|in_group:"Subscribers" %}
						{% if ticket.reported_by == request.user %}
						<p class="italic-text">You requested this feature</p>
						{% elif user in ticket.voters.all %}
						<p class="italic-text">You have already voted on this feature</p>
						{% else %}
						<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote
								<i class="fa fa-arrow-up"></i></a>
						</p>
						{% endif %}
						{% else %}
				        <p>You must <a class="link-underline purple-text" href="{% url 'subscribe' %}">subscribe</a> to vote or comment on feature tickets</p>
				        {% endif %}
						{% else %}
						{% if user.is_authenticated %}
						{% if ticket.reported_by == request.user %}
						<p class="italic-text">You reported this issue</p>
						{% elif user in ticket.voters.all %}
						<p class="italic-text">You have already voted on this issue</p>
						{% else %}
						<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote <i class="fa fa-arrow-up"></i></a>
						</p>
						{% endif %}
						{% endif %}
						{% endif %}
						{% if ticket.category == 'ISSUE' and user.is_authenticated or ticket.category == 'FEATURE' and user.is_authenticated and request.user|in_group:"Subscribers" %}
						<div>
							<a class="grey-link" onClick="toggleComment(this)">Comments
								<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</br>
							<a class="grey-link" href="{% url 'add_ticket_comment' ticket_id=ticket.id %}">Add
								Comment
								<i class="fa fa-plus" aria-hidden="true"></i></a>
						</div>
						<div class="comment-block">
							<div class="comments">
								{% for comment in ticket.comments.all %}
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
								{% empty %}
								<div>
									<p class="italic-text">No comments yet</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4 no-col-padding">
			<div class="swim-lane-header">
				<h3 class="white-text">Completed</h3>
			</div>
			<div class="swim-lane">
				{% for ticket in tickets|dictsortreversed:"votes" %}
				{% if ticket.state == 'COMPLETED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3><a class="grey-link"
								href="{% url 'full_ticket' ticket_id=ticket.id%}">{{ ticket.title }}</a>
						</h3>
						<p>{{ ticket.description }}</p>
						{% if ticket.category == 'ISSUE' %}
						<p class="issue-colour">{{ ticket.category }}</p>
						{% elif ticket.category == 'FEATURE' %}
						<p class="feature-colour">{{ ticket.category }}</p>
						{% endif %}
						<p>Priority: {{ ticket.priority }}</p>
						<p>Votes: {{ ticket.votes }}</p>
                        <b>Resolution Notes:</b>
                        <p>{{ ticket.resolution }}</p>
						{% if ticket.category == 'ISSUE' and user.is_authenticated or ticket.category == 'FEATURE' and user.is_authenticated and request.user|in_group:"Subscribers" %}
                        <div>
							<a class="grey-link" onClick="toggleComment(this)">Comments
								<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
							</br>
							<a class="grey-link" href="{% url 'add_ticket_comment' ticket_id=ticket.id %}">Add
								Comment
								<i class="fa fa-plus" aria-hidden="true"></i></a>
						</div>
						<div class="comment-block">
							<div class="comments">
								{% for comment in ticket.comments.all %}
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
								{% empty %}
								<div>
									<p class="italic-text">No comments yet</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Mobile view of tickets board -->
	<div id="accordion" class="hidden-md hidden-lg hidden-xl">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link purple-text hover-purple" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Reported / Requested
        <i class="fa fa-caret-down"></i>
    </button>
				</h5>
			</div>

			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div class="col-md-4 swim-lane">
						<div class="lane-title-div">
							{% for ticket in tickets|dictsortreversed:"votes" %}
							{% if ticket.state == 'REQUESTED' or ticket.state == 'REPORTED' %}
							<div class="col-xs-12 display panel panel-default">
								<div class="panel-body">
									<h3><a class="grey-link"
											href="{% url 'full_ticket' ticket_id=ticket.id%}">{{ ticket.title }}</a>
									</h3>
									{% if ticket.reported_by == request.user %}
									<a href="{% url 'edit_ticket' ticket_id=ticket.id %}" class="btn btn-sm grey-btn"
										role="button">Edit</a>
									<a href="{% url 'delete_ticket' ticket_id=ticket.id %}"
										class="btn btn-sm red-btn" role="button">Delete</a>
									{% endif %}
									<p>{{ ticket.description }}</p>
									{% if ticket.category == 'ISSUE' %}
									<p class="issue-colour">{{ ticket.category }}</p>
									{% elif ticket.category == 'FEATURE' %}
									<p class="feature-colour">{{ ticket.category }}</p>
									{% endif %}
									<p>Priority: {{ ticket.priority }}</p>
									<p>Votes: {{ ticket.votes }}</p>
									{% if ticket.category == 'FEATURE' %}
									{% if request.user|in_group:"Subscribers" %}
									{% if ticket.reported_by == request.user %}
									<p class="italic-text">You requested this feature</p>
									{% elif user in ticket.voters.all %}
									<p class="italic-text">You have already voted on this feature</p>
									{% else %}
									<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote
											<i class="fa fa-arrow-up"></i></a>
									</p>
									{% endif %}
									{% else %}
				                    <p>You must <a class="link-underline purple-text" href="{% url 'subscribe' %}">subscribe</a> to vote or comment on feature tickets</p>
				                    {% endif %}
									{% else %}
									{% if user.is_authenticated %}
									{% if ticket.reported_by == request.user %}
									<p class="italic-text">You reported this issue</p>
									{% elif user in ticket.voters.all %}
									<p class="italic-text">You have already voted on this issue</p>
									{% else %}
									<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote
											<i class="fa fa-arrow-up"></i></a>
									</p>
									{% endif %}
									{% endif %}
									{% endif %}
									{% if ticket.category == 'ISSUE' and user.is_authenticated or ticket.category == 'FEATURE' and user.is_authenticated and request.user|in_group:"Subscribers" %}
									<div>
										<a class="grey-link" onClick="toggleComment(this)">Comments
											<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
										</br>
										<a class="grey-link"
											href="{% url 'add_ticket_comment' ticket_id=ticket.id %}">Add
											Comment
											<i class="fa fa-plus" aria-hidden="true"></i></a>
									</div>
									<div class="comment-block">
										<div class="comments">
											{% for comment in ticket.comments.all %}
											<div class="comment-bold">{{ comment.created }}</div>
											<p class="comment-bold"> User: {{ comment.commenter }}</p>
											<p> Comment: {{ comment.comment }}</p>
											<hr />
											{% empty %}
											<div>
												<p class="italic-text">No comments yet</p>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed purple-text hover-purple" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        In Progress
        <i class="fa fa-caret-down"></i>
    </button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						<div class="col-md-4 swim-lane">
							<div class="lane-title-div">
								{% for ticket in tickets|dictsortreversed:"votes"  %}
								{% if ticket.state == 'IN PROGRESS' %}
								<div class="col-xs-12 display panel panel-default">
									<div class="panel-body">
										<h3><a class="grey-link"
												href="{% url 'full_ticket' ticket_id=ticket.id%}">{{ ticket.title }}</a>
										</h3>
										{% if ticket.reported_by == request.user %}
										<a href="{% url 'edit_ticket' ticket_id=ticket.id %}"
											class="btn btn-sm grey-btn" role="button">Edit</a>
										<a href="{% url 'delete_ticket' ticket_id=ticket.id %}"
											class="btn btn-sm red-btn" role="button">Delete</a>
										{% endif %}
										<p>{{ ticket.description }}</p>
										{% if ticket.category == 'ISSUE' %}
										<p class="issue-colour">{{ ticket.category }}</p>
										{% elif ticket.category == 'FEATURE' %}
										<p class="feature-colour">{{ ticket.category }}</p>
										{% endif %}
										<p>Priority: {{ ticket.priority }}</p>
										<p>Votes: {{ ticket.votes }}</p>
										{% if ticket.category == 'FEATURE' %}
										{% if request.user|in_group:"Subscribers" %}
										{% if ticket.reported_by == request.user %}
										<p class="italic-text">You requested this feature</p>
										{% elif user in ticket.voters.all %}
										<p class="italic-text">You have already voted on this feature</p>
										{% else %}
										<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote
												<i class="fa fa-arrow-up"></i></a>
										</p>
										{% endif %}
										{% else %}
				                        <p>You must <a class="link-underline purple-text" href="{% url 'subscribe' %}">subscribe</a> to vote or comment on feature tickets</p>
				                        {% endif %}
										{% else %}
										{% if user.is_authenticated %}
										{% if ticket.reported_by == request.user %}
										<p class="italic-text">You reported this issue</p>
										{% elif user in ticket.voters.all %}
										<p class="italic-text">You have already voted on this issue</p>
										{% else %}
										<p><a class="grey-link" href="upvote/{{ ticket.id }}">Upvote
												<i class="fa fa-arrow-up"></i></a>
										</p>
										{% endif %}
										{% endif %}
										{% endif %}
										{% if ticket.category == 'ISSUE' and user.is_authenticated or ticket.category == 'FEATURE' and user.is_authenticated and request.user|in_group:"Subscribers" %}
										<div>
											<a class="grey-link" onClick="toggleComment(this)">Comments
												<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
											</br>
											<a class="grey-link"
												href="{% url 'add_ticket_comment' ticket_id=ticket.id %}">Add
												Comment
												<i class="fa fa-plus" aria-hidden="true"></i></a>
										</div>
										<div class="comment-block">
											<div class="comments">
												{% for comment in ticket.comments.all %}
												<div class="comment-bold">{{ comment.created }}</div>
												<p class="comment-bold"> User: {{ comment.commenter }}</p>
												<p> Comment: {{ comment.comment }}</p>
												<hr />
												{% empty %}
												<div>
													<p class="italic-text">No comments yet</p>
												</div>
												{% endfor %}
											</div>
										</div>
										{% endif %}
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed purple-text hover-purple" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Completed
        <i class="fa fa-caret-down"></i>
    </button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">
						<div class="col-md-4 swim-lane">
							<div class="lane-title-div">
								{% for ticket in tickets|dictsortreversed:"votes" %}
								{% if ticket.state == 'COMPLETED' %}
								<div class="col-xs-12 display panel panel-default">
									<div class="panel-body">
										<h3><a class="grey-link"
												href="{% url 'full_ticket' ticket_id=ticket.id%}">{{ ticket.title }}</a>
										</h3>
										<p>{{ ticket.description }}</p>
										{% if ticket.category == 'ISSUE' %}
										<p class="issue-colour">{{ ticket.category }}</p>
										{% elif ticket.category == 'FEATURE' %}
										<p class="feature-colour">{{ ticket.category }}</p>
										{% endif %}
										<p>Priority: {{ ticket.priority }}</p>
										<p>Votes: {{ ticket.votes }}</p>
										{% if ticket.category == 'ISSUE' and user.is_authenticated or ticket.category == 'FEATURE' and user.is_authenticated and request.user|in_group:"Subscribers" %}
										<b>Resolution Notes:</b>
                                        <p>{{ ticket.resolution }}</p>
                                        <div>
											<a class="grey-link" onClick="toggleComment(this)">Comments
												<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
											</br>
											<a class="grey-link"
												href="{% url 'add_ticket_comment' ticket_id=ticket.id %}">Add
												Comment
												<i class="fa fa-plus" aria-hidden="true"></i></a>
										</div>
										<div class="comment-block">
											<div class="comments">
												{% for comment in ticket.comments.all %}
												<div class="comment-bold">{{ comment.created }}</div>
												<p class="comment-bold"> User: {{ comment.commenter }}</p>
												<p> Comment: {{ comment.comment }}</p>
												<hr />
												{% empty %}
												<div>
													<p class="italic-text">No comments yet</p>
												</div>
												{% endfor %}
											</div>
										</div>
										{% endif %}
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}