{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Sign Up{% endblock %}
{% block page_heading %}Sign Up{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class=" col-md-12">
        <h1 class="purple-text">Sign Up:</h1>
        <p class="purple-text">Sign up for no cost to gain access to report, comment and vote on issues.</p>
			<form method="POST" class="accountform">
				<p>If you already have an account, you can <a class="purple-text link-underline"
						href="{% url 'sign_in' %}">sign in</a></p>
				{% csrf_token %}
				{{ sign_up_form | as_bootstrap }}
				<div class="row">
					<div class="col-xs-5">
						<button type="submit" class="btn green-btn">Sign Up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}