{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Sign In{% endblock %}
{% block page_heading %}Sign In{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
			<div class="col-md-12">
            <h1 class="purple-text">Sign In:</h1>
            <p class="purple-text">Sign in to your account to log issues and maintain your subscription.</p>
				<form method="POST" class="accountform">
					{% csrf_token %}
					{{ sign_in_form | as_bootstrap }}
					<div class="row">
						<div class="col-md-5">
							<button type="submit" class="sign-up-btn">Sign In</button>
						</div>
						<div class="col-md-7 forgot-password">
							<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}