{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Sign Up{% endblock %}
{% block page_heading %}Sign Up{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src='{% static "images/unicorn-logo.png" %}' class="sign-up-unicorn" alt="unicorn logo">
    </div>
    <div class=" form-div col-md-6">
      
<form method="POST" class="accountform">
<p>If you already have an account, you can <a href="{% url 'sign_in' %}">sign in</a></p>
    {% csrf_token %}
    {{ sign_up_form | as_bootstrap }}
    <button type="submit" class="sign-up-btn">Sign Up</button>
</form>
    </div>
  </div>
</div>







{% endblock %}