{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_filters %}
{% load bootstrap_tags %}
{% block page_title %}{{user}}'s' Profile{% endblock %}
{% block page_heading %}{{user}}'s Profile'}}{% endblock %}
{% block content %}
<div class="profile">
	<h1>{{user}}'s Profile</h1>
	<p>Name: {{ user.first_name }} {{user.last_name}}</p>
	<p>Username: {{ user.username }}</p>
	<p>Email: {{ user.email }}</p>
	{% if request.user|in_group:"Subscribers" %}
	<p>Subscriptions: Monthly Feature subscription</p>
    <p><a href="{% url 'unsubscribe' %}" class="btn landing-btn" role="button">Unsubscribe</a></p>
    <p><a href="{% url 'update_card_details' %}" class="btn landing-btn" role="button">Update Card Details</a></p>
    <p>Please note subscriptions will be cancelled from the next due payment. Any funds already processed will not be cancelled.</p>
    <p>If you are unsibscribing please let us know why, and how our service can be improved by using the <a href="{% url 'contact_us' %}">Contact Form</a></p>
	{% else %}
	<p>Subscriptions: None</p>
	<a href="{% url 'subscribe' %}" class="btn landing-btn" role="button">+ Subscribe</a>
    {% endif %}
</div>
{% endblock %}