{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Subscribe{% endblock page_title%}
{% block page_heading %}Subscribe{% endblock page_heading%}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	//<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}
{% block content %}
<div class="issue-form">
	<h1 class="white-text">Update Card Details</h1>
	<p>Fill in the form to update your card details for subscription payments.</p>
	<form method="POST" enctype="multipart/form-data" id="subscription-form" class="accountform">
		{% csrf_token %}
		{{ form | as_bootstrap }}
		<div id="credit-card-errors" style="display:none;">
			<div class="alert-message block-message error" id="stripe-error-message"></div>
		</div>
		<button type="submit" class="sign-up-btn">Update</button>
	</form>
</div>
{% endblock %}