{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Unicorn Attractor</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
	<link rel="stylesheet" href='{% static "font-awesome/css/all.css" %}'>
	<link rel="stylesheet" href='{% static "font-awesome/css/brands.css" %}'>
	<link rel="stylesheet" href='{% static "font-awesome/css/fontawesome.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "images/favicon.ico" %}'>
	<script href='{% static "js/script.js" %}'></script>
	<script href='{% static "js/client.js" %}'></script>
    <script href='{% static "js/comment.js" %}'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% block head_js %}
	{% endblock head_js %}
</head>

<body>
	<nav class="navbar navbar-fixed-top unicorn-nav">
		<!-- Brand -->
		<a class="navbar-brand" href="{% url 'landing_page' %}">
			<img src='{% static "images/unicorn-logo.png" %}' class="d-inline-block align-top brand-logo" alt="unicorn logo">
    Unicorn Attractor
  </a>
			<!-- Links -->
			<ul class="nav-list justify-content-end hidden-sm hidden-xs">
				<li class="nav-item"><a class="nav-item" href="{% url 'find_out_more' %}">Find out more</a></li>
				<li class="nav-item"><a class="nav-item" href="{% url 'issues' %}">Issues</a></li>
				<li class="nav-item"><a class="nav-item" href="{% url 'features' %}">Features</a></li>
				{% if user.is_authenticated %}
				<li class="nav-item"><a class="nav-item" href="{% url 'profile' %}"><i class="fa fa-user"></i>
						{{user.username}}</a></li>
				<li class="nav-item"><a class="nav-item" href="{% url 'sign_out' %}">Log Out</a></li>
				{%  else %}
				<li class="nav-item"><a class="nav-item" href="{% url 'sign_up' %}"> Sign Up</a></li>
				<li class="nav-item"><a class="nav-item" href="{% url 'sign_in' %}">Sign In</a></li>
				{% endif %}
			</ul>


			<!-- Dropdown -->
			<div class=" mobile-list nav-list justify-content-end hidden-md hidden-lg">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li><a class="dropdown-item" href="{% url 'find_out_more' %}">Find out more</a></li>
						<li><a class="dropdown-item" href="{% url 'issues' %}">Issues</a></li>
						<li><a class="dropdown-item" href="{% url 'features' %}">Features</a></li>
						{% if user.is_authenticated %}
						<li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user"></i>
								{{user.username}}</a></li>
						<li><a class="dropdown-item" href="{% url 'sign_out' %}">Log Out</a></li>
						{%  else %}
						<li><a class="dropdown-item" href="{% url 'sign_up' %}"> Sign Up</a></li>
						<li><a class="dropdown-item" href="{% url 'sign_in' %}">Sign In</a></li>
						{% endif %}
					</div>
				</div>
			</div>
	</nav>

	{% if messages %}
	<div class="alert" id="message">
		<div class="messages white-text">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% block content %}
	{% endblock %}

	<script src="/static/js/comment.js"></script></script>
</body>
<footer>
	<nav class="navbar navbar-fixed-bottom social-nav">
		<a class="social-link" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
		<a class="social-link" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
		<a class="social-link" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
	</nav>
</footer>

</html>