{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Report an Issue{% endblock %}
{% block page_heading %}Report an Issue{% endblock %}
{% block content %}
<div class="issue-form">
    <h1 class="white-text">Report an Issue</h1>
    <p>We provide Unicorn Attractor bug fixes free of charge, please fill in the form to log your issue.</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <p>High priority issues will be dealt with first. Unicorn Attractor reserves the right to downgrade issue priority if we feel it is not accurate.</p>
        <button type="submit" class="sign-up-btn">Report</button>
    </form>
    </div>
{% endblock %}