{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %} Full Issue {% endblock %}
{% block page_heading %} Full Issue {% endblock %}
{% block content %}
<div class="container full-issue">
	<h1>Issue: {{ issue.title }}</h1>
	<div>
		<p>{{ issue.description }}</p>
		<p>Priority: {{ issue.priority }}</p>
		<p>Votes: {{ issue.votes }}</p>
		{% if user.is_authenticated %}
		<p><a class="upvote-link" href="upvote/{{ issue.id }}">Upvote</a></p>
		<div class="comment-full">
        <p><a href="">Add Comment</a></p>
			<p>Comments:</p>
			<div class="comment-block-full">
				{% for comment in issue.comments.all %}
				<div>
					<div class="comment-bold">{{ comment.created }}</div>
					<p class="comment-bold"> User: {{ comment.commenter }}</p>
					<p> Comment: {{ comment.comment }}</p>
				</div>
				{% empty %}
				<div>
					<p class="sub-text">No comments yet</p>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}