{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %} Full Issue {% endblock %}
{% block page_heading %} Full Issue {% endblock %}
{% block content %}
<div class="container full-issue">
	<h1 class="upvote-link">Issue: {{ issue.title }}</h1>
	<div>
		<p>{{ issue.description }}</p>
		<p>Priority: {{ issue.priority }}</p>
		<p>Votes: {{ issue.votes }}</p>
		{% if user.is_authenticated %}
        {% if user in issue.voters.all %}
        <p class="already-voted">You have already voted on this issue</p>
        {% else %}
        <p><a class="upvote-link" href="upvote/{{ issue.id }}">Upvote <i class="fa fa-arrow-up"></i></a></p>
        {% endif %}
		
		<div>
                        <a class="comment-link" onClick="toggleComment(this)">Comments
                            <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                        </br>
                        <a class="comment-link" href="{% url 'add_comment' issue_id=issue.id%}">Add Comment
                            <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                    <div class="comment-block">
                        <div class="comments">
                            {% for comment in issue.comments.all %}
                            <div class="comment-bold">{{ comment.created }}</div>
                            <p class="comment-bold"> User: {{ comment.commenter }}</p>
                            <p> Comment: {{ comment.comment }}</p>
                            <hr />
                            {% empty %}
                            <div>
                                <p class="sub-text">No comments yet</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}