{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Report an Issue{% endblock %}
{% block page_heading %}Report and Issue{% endblock %}
{% block content %}

<div class="container">
	<div class="row issue-header-div">
		<div class="col-md-6 report-issue-header">
			<h1>Report an Issue:</h1>
			<p>We fix bugs for free! Report an issue, add comments and track its progress.</p>
		</div>
		<div class="col-md-6">
			<button class="sign-up-btn report-issue-btn">
        <a href="{% url 'report_issue' %}"> + Report an Issue</a>
        </button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">Reported</h3>

				{% for issue in issues|dictsortreversed:"votes" %}
				{% if issue.state == 'REPORTED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3>{{ issue.title }}</h3>
						<p class="">{{ issue.description }}</p>
						<p>Priority: {{ issue.priority }}</p>
						<p>Votes: {{ issue.votes }}</p>
						{% if user.is_authenticated %}
						<p><a class="upvote-link" href="upvote/{{ issue.id }}">Upvote</a></p>

						<div>
							<a class="comment-link" onClick="toggleComment(this)">Comments</a>
                            </br>
                            <a class="comment-link" href="full_issue/{{ issue.id }}">Add Comment</a>
						</div>
						<div class="comment-block">
							{% for comment in issue.comments.all %}
							<div class="comments">
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
							</div>
							{% empty %}
							<div>
								<p class="sub-text">No comments yet</p>
							</div>
							{% endfor %}
						</div>



						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}

			</div>
		</div>
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">In Progress</h3>
				{% for issue in issues|dictsortreversed:"votes"  %}
				{% if issue.state == 'IN PROGRESS' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3>{{ issue.title }}</h3>
						<p class="">{{ issue.description }}</p>
						<p>Priority: {{ issue.priority }}</p>
						<p>Votes: {{ issue.votes }}</p>
						{% if user.is_authenticated %}
						<p><a class="upvote-link" href="upvote/{{ issue.id }}">Upvote</a></p>
						<div>
							<a class="comment-link" onClick="toggleComment(this)">Comments</a>
						</div>
						<div class="comment-block">
							{% for comment in issue.comments.all %}
							<div class="comments">
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
							</div>
							{% empty %}
							<div>
								<p class="sub-text">No comments yet</p>
							</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4 swim-lane">
			<div class="lane-title-div">
				<h3 class="lane-title">Completed</h3>
				{% for issue in issues|dictsortreversed:"votes"  %}
				{% if issue.state == 'COMPLETED' %}
				<div class="col-xs-12 display panel panel-default">
					<div class="panel-body">
						<h3>{{ issue.title }}</h3>
						<p class="">{{ issue.description }}</p>
						<p>Priority: {{ issue.priority }}</p>
						<p>Votes: {{ issue.votes }}</p>
						{% if user.is_authenticated %}
						<p><a class="upvote-link" href="upvote/{{ issue.id }}">Upvote</a></p>
						<div>
							<a class="comment-link" onClick="toggleComment(this)">Comments</a>
						</div>
						<div class="comment-block">
							{% for comment in issue.comments.all %}
							<div class="comments">
								<div class="comment-bold">{{ comment.created }}</div>
								<p class="comment-bold"> User: {{ comment.commenter }}</p>
								<p> Comment: {{ comment.comment }}</p>
								<hr />
							</div>
							{% empty %}
							<div>
								<p class="sub-text">No comments yet</p>
							</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>




{% endblock %}